fastapi[standard]


httpx 
beautifulsoup4 
markdownify

langchain-text-splitters

sentence-transformers 
chromadb

pytest

openai

python-dotenv

rank-bm25

streamlit
torchvision

langgraph
langchain-core